@keyframes slideLeft {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
}

@keyframes slideRight {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0%);
    }
}

/* @keyframes slideRightGallery {
  from {
    transform: translateX(-160%);
  }
  to {
    transform: translateX(calc(-100% - var(--spacing)));
  }
} */


@keyframes bottomUP {
    from {
      opacity: 0;
      transform: translateY(100%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
}

@keyframes bottomUPSlightText {
  from {
    opacity: 0;
    transform: translateY(20%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes popUP {
0%{
  transform: scale(0.5);
}    
100%{
  transform: scale(1);
} 
}

@keyframes FadeIN {
  0%{
    opacity: 0%;
  }
  25%{
    opacity: 25%;
  }
  50%{
    opacity: 50%;
  }
  75%{
    opacity: 75%;
  }
  100%{
    opacity: 100%;
  }
  }
  
.ImageGalleryAnimate{
    animation: slideRightGallery 20s linear infinite alternate;
}
  
.FadeIN{
  animation: FadeIN 1s ease-in-out;
}
.FadeINQuick{
  animation: FadeIN 0.5s forwards;
}
.PopUP{
  animation: popUP 1s ease-in-out;
}

.BottomTOUpSlightlyText{
  animation: bottomUPSlightText 1s ease-in-out;
}

.BottomTOUpQuick{
  animation: bottomUP 1s forwards;
}

.BottomTOUp{
    animation: bottomUP 1s ease-in;
}

.SlideINLeft{
    animation: slideLeft 1s ease-in-out;
}

.SlideINRight{
    animation: slideRight 1s ease-in-out;
}