@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scroll{
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0;  
  height: 0;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  height: 0;
  width: 0;
  background: black;
}

/* .main{
  height:100vh;
  width:100%;  
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
} */
h1#MainGraphicHeader{
  text-align:center;
  text-transform: uppercase;    
}

.roller{
  animation: slide 4s infinite;
  /* height: 4.25rem; */
  /* line-height: normal;
  position: relative;
  overflow: hidden; 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1D3557; */
}


#spare-time{
  /* font-size: 1rem; */
  /* font-style: italic; */
  /* letter-spacing: 0.3rem;
  word-spacing: 0.5rem;
  margin-top: 0; */
  /* color: #A8DADC; */
  
}

.roller #rolltext {
  /* position: absolute; */
  /* top: 10; */
  /* padding: 20px; */
  /* animation: slide 5s infinite;   */
}

@keyframes slide {
  0%{
    transform: translateY(0rem);
  }
  25%{
    transform: translateY(-3.5rem);
  }
  50%{
    transform: translateY(-7rem);    
  }
  /* 75%{
    transform: translateY(0rem);    
  } */
  100%{
    transform: translateY(0rem);    
  }
}

@keyframes bottomUp {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(0%);
  }
  60% {
    transform: translateY(0%);
  }
  70% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(0%);
  }  
  100% {
    transform: translateY(-90%);
  }
}

.bottom-up{
  animation: bottomUp 2s ease-out;
}

#mainGraphicContainer{
  background-image: url('/images/backgrounds/GTU_CAMPUS_6.webp');
}

@media screen and (max-width: 1024px) {
  #mainGraphicContainer{
    background-image: url('/images/backgrounds/GTU_CAMPUS_POTRAIT_4.webp');
  }
}

.toggle-menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  float: right;
  height: 50px;
  outline: none;
  padding: 0;
  pointer-events: initial;
  position: relative;
  vertical-align: middle;
  width: 50px;
  z-index: 9999;
}

.toggle-menu span,
.toggle-menu span:before,
.toggle-menu span:after {  
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  transform-origin: 50% 50%;
  transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out, transform 0.2s linear;
  width: 26px;
}

.toggle-menu span {
  left: calc(50% - 13px);
  top: calc(50% - 1px);
}

.toggle-menu span:before {
  top: 7px;
}

.toggle-menu span:after {
  top: -7px;
}

.toggle-menu.active span {
  background-color: transparent;
}

.toggle-menu.active span:before,
.toggle-menu.active span:after {
  transition: top 0.2s ease-out, transform 0.2s 0.2s ease-out;
}

.toggle-menu.active span:before {
  top: 0;
  transform: rotate3d(0, 0, 1, -45deg);
}

.toggle-menu.active span:after {
  top: 0;
  transform: rotate3d(0, 0, 1, 45deg);
}