@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scroll{
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0;  
  height: 0;
  background: transparent;
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  height: 0;
  width: 0;
  background: black;
}

.main{
  height:100vh;
  width:100%;  
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
}
h1#MainGraphicHeader{
  text-align:center;
  text-transform: uppercase;    
}

.roller{
  height: 4.425rem;
  /* line-height: 4rem; */
  position: relative;
  overflow: hidden; 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1D3557;
}


#spare-time{
  /* font-size: 1rem; */
  /* font-style: italic; */
  letter-spacing: 0.3rem;
  word-spacing: 0.5rem;
  margin-top: 0;
  /* color: #A8DADC; */
  
}

.roller #rolltext {
  position: absolute;
  top: 10;
  padding: 20px;
  animation: slide 5s infinite;  
}

@keyframes slide {
  0%{
    top:0;
  }
  25%{
    top: -4rem;    
  }
  50%{
    top: -8rem;
  }
  100%{
    top: 0;
  }
}

@media screen and (max-width: 1024px) {
  .roller{
    height: 3.425rem;
    /* line-height: 4rem; */
    position: relative;
    overflow: hidden; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1D3557;
  }

@keyframes slide {
  0%{
    top:0;
  }
  25%{
    top: -3.5rem;    
  }
  50%{
    top: -7rem;
  }
  100%{
    top: 0;
  }
}
#spare-time{
  /* font-size: 1rem; */
  /* font-style: italic; */
  letter-spacing: 0.2rem;
  word-spacing: 0.4rem;
  margin-top: 0;
  /* color: #A8DADC; */
  
}
}

@media screen and (max-width: 768px) {
  .roller{
    height: 3rem;
    /* line-height: 4rem; */
    position: relative;
    overflow: hidden; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1D3557;
  }

@keyframes slide {
  0%{
    top:0;
  }
  25%{
    top: -3.2rem;    
  }
  50%{
    top: -6.4rem;
  }
  100%{
    top: 0;
  }
}
#spare-time{
  /* font-size: 1rem; */
  /* font-style: italic; */
  letter-spacing: 0.1rem;
  word-spacing: 0.2rem;
  margin-top: 0;
  /* color: #A8DADC; */
  
}
}

